<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="areee.travelfinland">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/finland_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Holo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LaplandActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" />
        <!-- android:theme="@android:style/Theme.NoTitleBar.Fullscreen" -->

        <activity
            android:name=".OuluActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" />
        <activity
            android:name=".VaasaActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" />
        <activity
            android:name=".SavonlinnaActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" />
        <activity
            android:name=".HelsinkiVantaaActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" />
        <activity
            android:name=".TurkuActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" />
        <activity
            android:name=".LaplandExercise1Activity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" />
        <activity
            android:name=".LaplandExercise2Activity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" />
        <activity
            android:name=".LaplandExercise3Activity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" />
        <activity
            android:name=".LaplandExercise4Activity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" />
        <activity
            android:name=".OuluExercise1Activity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" />
        <activity
            android:name=".OuluExercise2Activity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" />
        <activity
            android:name=".OuluExercise3Activity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" />
        <activity
            android:name=".OuluExercise4Activity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" />

    </application>

</manifest>
